input,
label {
  margin-bottom: 10px;
}
.container,
header {
  text-align: center;
}
body,
h1 {
  margin: 0;
}
.loading,
input {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
}
input {
  width: 100%;
  padding: 8px;
}
.welcome-bar,
header {
  padding: 10px 0;
  color: #fff;
}
#result,
.search-section {
  margin-top: 20px;
}
header {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #000;
  z-index: 1000;
}
.characters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.character-info {
  position: relative;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
button,
input[type="color"] {
  margin-top: 10px;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading {
  position: fixed;
  content: " ";
  display: none;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  border: 32px solid #000;
  border-color: #000 transparent;
  animation: 1.2s infinite lds-hourglass;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.characters-table {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 1%;
}

.brush-button {
  background: linear-gradient(to right, indigo, #00f, green, orange, red);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
#updateButton,
button {
  border: none;
  background-color: #5d4097;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.delete-button {
  background-color: #f44336;
}
.delete-button:hover {
  background-color: #8a0d04;
}
#updateButton {
  border-radius: 50%;
  margin-left: 200px;
  margin-bottom: 2px;
}
#updateButton:hover,
button:hover {
  background-color: #37255c;
}
button {
  border-radius: 5px;
}
#loadDefaultsButton {
  background-color: #5d4097;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2px;
}
.watermark {
  position: fixed;
  top: 10px;
  right: 10px;
  color: rgb(255, 255, 255); /* Cor da marca d'água (preto transparente) */
  font-size: 16px;
  pointer-events: none; /* Garante que a marca d'água não interfira com eventos de clique */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #282828;
  border: 5px solid #000000;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10%;
}
